/**************PC端适配**********************/
@media screen and (min-width: 992px) {
    html, body{
        background-color: #f5f5f5;
        position: relative;
        width: 750px;
        height: 100%;
        overflow-x: hidden;
        margin: 0 auto;
    }

    body{
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .page-main{
        width: 750px;
    }
    .demo-info,
    header,
    .header-info{
        height: 460px !important;        
    }
    ::-webkit-scrollbar{
        display: none !important;
        width: 0 !important;
    }
    *{ -ms-overflow-style: none; }
}